
body {
  background-color: #f6f6f6;
}

/* top navigation bar styling */
.my_vector {
  height: 40px;
  width: 40px;
}
.topnav {
  background-color: #f6f6f6;
  overflow: hidden;
}

.topnav a {
  float: left;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #130ef1;
  cursor: pointer;
  text-align: center;
}

.topnav a.active {
  color: black;
}

.topnav-right {
  float: right;
}

/* section 1 styling */
.section-1 {
  margin: 8% 10% 6% 10%;
}
@media screen and (min-width: 601px) {
  .section-1 {
    margin: 8% 10% 6% 10%;
  }
}

@media screen and (max-width: 600px) {
  .section-1 {
    margin: 8% 6% 6% 6%;
  }
}

/* h1 styling */
h1 {
  color: #130ef1;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 8px;
  margin-bottom: 5px;
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 3px;
  }
}

h3 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 4px;
  margin-top: 5px;
}
/* p styling */
p {
  color: #acaeb6;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1.5px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
}

@media screen and (min-width: 601px) {
  p {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 50px;
    width: 90%;
  }
}

.highlighted {
  color: black;
}

/* button styling */

.button {
  background-color: #130ef1;
  border: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
